<nav class="navbar sticky-top navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Tail Tag</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <!--         
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li> 
        -->

        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Contact</a>
        </li>
      </ul>
      <div class="d-flex gap-3">
        <% if (user) { %>

        <a class="btn" href="/logout" role="button">Log out</a>
        <a class="btn btn-primary" href="/user/my-panel" role="button"
          >Painel</a
        >

        <% } else { %>

        <a class="btn btn-outline-primary" href="/signup" role="button"
          >Sing up</a
        >
        <a class="btn btn-primary" href="/login" role="button">Login</a>

        <% } %>
      </div>
    </div>
  </div>
</nav>
