<!--TODO verify if user is logged in and change from "Login" to "Log out"-->
<div class="my-3 d-flex justify-content-evenly">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>

  <a href="/map">Go to Map</a>
  <a href="/user/my-panel">Painel</a>

  <a href="/signup">Sing up</a>
  <a href="/login">Login</a>
  <a href="/logout">Log out</a>
</div>
