<link
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  rel="stylesheet"
/>

<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>

<section class="main-box mt-5 mx-auto">
  <div class="map-div">
    <div id="map" class="map"></div>
  </div>

  <div class="text-center mt-3">
    <span>Auto update in:</span>
    <span id="time-to-update"></span>
    <span>s</span>
  </div>
</section>
<!--
<section>
  <div class="mt-5">
    <form>
      <div class="mb-3">
        <label for="id" class="form-label">id</label>
        <input
          type="text"
          class="form-control"
          id="id"
          aria-describedby="id"
          name="id"
          value="<%- pet._id %>"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="latitude" class="form-label">Latitude</label>
        <input
          type="text"
          class="form-control"
          id="latitude"
          aria-describedby="latitude"
          name="latitude"
        />
      </div>
      <div class="mb-3">
        <label for="longitude" class="form-label">Longitude</label>
        <input
          type="text"
          class="form-control"
          id="longitude"
          aria-describedby="longitude"
          name="longitude"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
-->

<%- include("../partials/getPet.ejs") %>
<script src="/js/leaflet.js"></script>
<script>
  get_pet_position(pet._id);

  //const form = document.querySelector("form");

  /*
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const id = form.id.value;
    const latitude = form.latitude.value;
    const longitude = form.longitude.value;

    try {
      const response = await fetch("", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          id,
          latitude,
          longitude,
        }),
      });

      location.reload(true);
    } catch (error) {
      console.log(error);
    }
  });
  */

  (function () {
    var el = document.getElementById("time-to-update");
    var count = 30;
    setInterval(function () {
      count -= 1;
      el.innerHTML = count;
      if (count == 0) {
        location.reload();
      }
    }, 1000);
  })();
</script>
