<section class="section-padding">
  <div class="mt-5">
    <form action="/pet-position" method="post">
      <div class="mb-3">
        <label for="id" class="form-label">id</label>
        <input
          type="text"
          class="form-control"
          id="id"
          aria-describedby="id"
          name="id"
        />
      </div>
      <div class="mb-3">
        <label for="latitude" class="form-label">Latitude</label>
        <input
          type="text"
          class="form-control"
          id="latitude"
          aria-describedby="latitude"
          name="latitude"
        />
      </div>
      <div class="mb-3">
        <label for="longitude" class="form-label">Longitude</label>
        <input
          type="text"
          class="form-control"
          id="longitude"
          aria-describedby="longitude"
          name="longitude"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
