<form>
  <h2>Crie sua conta</h2>

  <div>
    <label for="name">Nome</label>
    <input type="text" name="name" required />
    <div class="name error"></div>
  </div>

  <div>
    <label for="lastname">Sobrenome</label>
    <input type="text" name="lastname" required />
    <div class="lastname error"></div>
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error"></div>
  </div>

  <div>
    <p>
      A senha deve conter pelo menos: <br />
      - 6 caracteres <br />
      - uma letra maiúscula <br />
      - uma letra minúscula <br />
      - um número <br />
      - um caractere especial <br />
    </p>
  </div>

  <div>
    <label for="password">Senha</label>
    <input type="password" name="password" required />
    <div class="password error"></div>
  </div>

  <div>
    <label for="verify_password">Verirficar Senha</label>
    <input type="password" name="verify_password" required />
    <div class="verify_password error"></div>
  </div>

  <div>
    <button type="submit">Criar</button>
  </div>
</form>

<!--
  carlinhos
  gameplays
  carlinhos.plays@gmail.com
  Plays@123
-->

<script>
  const form = document.querySelector("form");
  const nameError = document.querySelector(".name.error");
  const lastnameError = document.querySelector(".lastname.error");
  const emailError = document.querySelector(".email.error");
  const passwordError = document.querySelector(".password.error");
  const verifyPasswordError = document.querySelector(".verify_password.error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    //reset errors
    nameError.textContent = "";
    lastnameError.textContent = "";
    emailError.textContent = "";
    passwordError.textContent = "";

    // get the values
    const name = form.name.value;
    const lastname = form.lastname.value;
    const email = form.email.value;
    const password = form.password.value;
    const verify_password = form.verify_password.value;

    // Regex to validate password
    const validations = [
      {
        regex: /(?=.*[a-z])/,
        message: " - A senha colocada não contem nehuma letra minúscula",
      },
      {
        regex: /(?=.*[A-Z])/,
        message: " - A senha colocada não contem nehuma letra maiúscula",
      },
      {
        regex: /(?=.*\d)/,
        message: " - A senha colocada não contem nehum número",
      },
      {
        regex: /[@$!%*?&]/,
        message: " - A senha colocada não contem nehum caracter especial",
      },
      {
        regex: /(?=.{6,})/,
        message: " - A senha colocada tem menos de 6 caracteres",
      },
    ];

    // Validate password
    const erorr_messages = [];
    for (const validation of validations) {
      if (!validation.regex.test(password)) {
        erorr_messages.push(validation.message);
      }
    }

    // Show password errors
    if (erorr_messages.length > 0) {
      passwordError.innerHTML = erorr_messages.join("<br/>");
      return;
    }

    // Check if password and verify_password are equal
    if (password !== verify_password) {
      verifyPasswordError.textContent = "As senhas são diferentes";
      return;
    }

    // Send request and get response with errors
    try {
      const res = await fetch("/signup", {
        method: "POST",
        body: JSON.stringify({
          name,
          lastname,
          email,
          password,
        }),
        headers: { "Content-Type": "application/json" },
      });

      const data = await res.json();
      console.log(data);

      if (data.errors) {
        // <div class="name error"></div>;
        nameError.textContent = data.errors.name;

        // <div class="lastname error"></div>;
        lastnameError.textContent = data.errors.lastname;

        // <div class="email error"></div>
        emailError.textContent = data.errors.email;

        // <div class="password error"></div>
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign("/");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
